{% extends "base.html" %}
{% block main %}

<div id="main">

<div id="content">
  <div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li><a href="/">主页</a><span class="divider">/</span></li>
        <li class="active">板块</li>
      </ul>
    </div>
    <div class="inner">
        {% for b in bs %}
        <div class="control-group">
          <label class="control-label" >Board-Title :  {{b.title}}</label>
        </div>
        {% endfor %}
    </div>
    <div class="inner">
         <form action="{{ url_for('.add', token=token) }}" method="post">
        <input name="title">
        <br>
        <button>添加</button>
    </form>
    </div>
  </div>

</div>

</div>

{% endblock %}